@model CursoOnline.Dominio.Cursos.CursoDto;
@{
    ViewData["Title"] = "Cursos";
}

<div id="pad-wrapper">
    <div class="row">
        <div class="col-md-12">
            <a href="/Cursos" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-1">
            <h3>Cursos</h3>
        </div>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-12">
            <form id="form" class="form-horizontal" 
            asp-action="Salvar" 
            asp-controller="Curso" 
            asp-anti-forgery
            data-ajax="true"
            data-ajax-method="POST"
            data-ajax-failure="formQuandoFalha"
            data-ajax-success="window.location.href = '/'">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-8">
                        <input type="text" asp-for="Nome" class="form-control">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Descrição</label>
                    <div class="col-md-8">
                        <textarea type="text" asp-for="Descricao" class="form-control"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Carga Horaria</label>
                    <div class="col-md-2">
                        <input type="text" asp-for="CargaHoraria" class="form-control">
                        <span asp-validation-for="CargaHoraria" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Publico Alvo</label>
                    <div class="col-md-2">
                        <select asp-for="PublicoAlvo" class="form-control">
                            <option value="Estudante">Estudante</option>
                            <option value="Universitario">Universitário</option>
                            <option value="Empregado">Empregado</option>
                            <option value="Empreendedor">Empreendedor</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Valor</label>
                    <div class="col-md-2">
                        <input asp-for="Valor" class="form-control">
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-offset-2">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/excecaoDeDominio.js"></script>
}